.section-breadcrumb {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
  // padding: 3rem 0;
  // padding-top: 1rem;
  // padding-bottom: 1rem;
  // padding-left: 2rem;
  // background-image: linear-gradient($color_orange_light, $color_white);
  
  // background-image: linear-gradient($color_orange_light, $color_white);

  @media screen and (max-width: 575px) {
    padding-bottom: 1.5rem;
  }

  &__title {
    font-family: "karla-bold";
    padding: 0.25rem 1rem;
    text-transform: uppercase;

    @media screen and (max-width: 575px) {
      font-size: 1.5rem;
    }
  }

  &__image {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    // margin-bottom: 50px;

    @media screen and (max-width: 575px) {
      margin-bottom: 20px;
    }
  }

  .breadcrumb {
    &-merlin {
      padding-bottom: 0;
      background-color: transparent;
      padding-top: 0;
      // padding: 0.25rem 1rem;

      &-item {
        a {
          color: $color_black;
          text-decoration: none;
        }

        + .breadcrumb-merlin-item {
          padding-left: 1rem;

          &::before {
            padding-right: 1rem;
            content: "\276F";
          }
        }

        &__link {
          text-transform: capitalize;
        }
      }
    }
  }
}
